<li class="review">
  <% if review.avatar %>
    <%= image_tag(review.avatar) %>
  <% end %>
  <h3 class="item-title"><%= link_to review.production.title, review(review) %><h3>
  <h4>rating: <%= review.rating %></h4>
  <p class="snippet"><%= review.text[0..300] %>...</p>
  </li>